rules_version = '2';
service cloud.firestore {
  function isHR(request) {
    return request.auth != null && 
    'token' in request.auth && 
    'hr' in request.auth.token &&
    request.auth.token.hr == true
  }
  function isOwner(uid, request) {
    return request.auth != null && 
    request.auth.uid == uid
  }
  function isProfileCollection(collection) {
    return collection == "users" || collection == "persons"
  }

  match /databases/{database}/documents {

    match /{collection}/{uid} {

      //allow user profile create & update for HR department members
      allow create, update: if 
      isProfileCollection(collection) &&
      isHR(request);

      //allow user profile read for:
      // - the profile owner
      // - HR department members
      allow read: if 
      isProfileCollection(collection) &&
      isOwner(uid, request) ||
      isHR(request)

    }

    //wtf?
    match /{document=**} {
        allow read, write: if request.auth.token.email.matches("firebase@flutterflow.io");
    }

    match /{document=**} {
        allow read, write: if request.auth != null;
    }

    match /{document=**} {
        allow read, write: if false;
    }


  }
}